# Time sheet Nov 2025 to Jun 2026
Time sheet Nov 2025 to Jun 2026

# dummy projects
Social media automation
AKS - Migration of Public to Private cluster

# AI skills and tools
.agents

# temporary files
/tmp
/AWS/Progress
/agy-cli
/CT_client_interview_prep
/K8S
